In [2]:
import pandas as pd
df = pd.read_csv('CSVExample.csv', sep =',')
df

,Lead,Title,Phone,Notes
0,Jim Grayson,Senior Manager,(555)761-2385,"Spoke Tuesday, he's interested"
1,Prescilla Winston,Development Director,(555)218-3981,said to call again next week
2,Melissa Potter,Head of Accounts,(555)791-3471,"Not interested, gave referral"

In [4]:
import pandas as pd
# Tab separated file
df = pd.read_csv('datatab.txt', sep='\t', header = None)

# columns are separated by space 
#df = pd.read_csv('data.txt', sep = ' ', header = None)
print(df)

      0     1   2           3   4    5
0  This  file  is  seaparated  by  tab

In [33]:
file_name = 'C:/Users/asahni/Documents/DAAI/labs/data.txt'
with open(file_name, mode = 'r') as file:
   df = file
print(df)

<_io.TextIOWrapper name='C:/Users/asahni/Documents/DAAI/labs/data.txt' mode='r' encoding='cp1252'>